body {
	width: 100%;
	background-color: purple;
}
#wordAndMan {
	width: 100%;
}
#word {
	width: 50%;
}
#sacrificialMan {
	width: 50%;
	text-align: right;
}
#sacrificialMan img {
	width: 100%
}
#letterChoices {
	width: 100%;
	text-align: center;
}
#letterChoices p {
	display: inline-block;
	width: 10%;
	border: 1px solid white;
	color: white;
	text-align: center;
	padding: 10px 0px 10px 0px;
	margin: 10px;
	font-size: 24pt;
}
.chosen {
	opacity: .5;
	pointer-events: none;
}